@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 33% 96%;
    --foreground: 240 100% 15%;
    --card: 43 33% 98%;
    --card-foreground: 240 100% 15%;
    --popover: 43 33% 98%;
    --popover-foreground: 240 100% 15%;
    --primary: 240 60% 30%;
    --primary-foreground: 43 33% 98%;
    --secondary: 240 10% 80%;
    --secondary-foreground: 240 60% 30%;
    --muted: 240 10% 85%;
    --muted-foreground: 240 10% 40%;
    --accent: 0 84% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 80%;
    --input: 240 10% 80%;
    --ring: 0 84% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 43 33% 90%;
    --card: 240 10% 15%;
    --card-foreground: 43 33% 90%;
    --popover: 240 10% 15%;
    --popover-foreground: 43 33% 90%;
    --primary: 240 50% 70%;
    --primary-foreground: 240 10% 10%;
    --secondary: 240 10% 25%;
    --secondary-foreground: 43 33% 90%;
    --muted: 240 10% 25%;
    --muted-foreground: 43 33% 70%;
    --accent: 0 70% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 0 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
